<%- include('includes/head') %>
<%- include('includes/nav') %>

<section class="logged">

  <div class="logged-container">
    <div class="message_logged"><%- include('includes/messages-login')%></div>
    <div class="perfil-container">

      <h2>Olá Usuário </h2>
      <img src="img/perfil.png" alt="">
      <h1><%= user.email %></h1>
      <p>Bem vindo ao seu perfil do Dev Agenda!</p>

    </div>
  </div>
</section>
<%- include('includes/footer') %>
